<!DOCTYPE html>
<html>
  <head>
  <title>Marvel Story: {{story_data.title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .vert-center {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
  </style>
  </head>
  <body>
  <div class="container">
    <h1>{{story_data.title}}</h1>
      {% if story_data.description|length > 0 %}
        <h4>Description</h4>
        <p>{{story_data.description}}</p>
      {% else %}
        <h4>Description</h4>
        <p>There is no description provided for this story.</p>
      {% endif %}
      {% if story_data.authors|length > 0 %}
        <h4>Authors</h4>
        <p>{{story_data.authors}}</p>
      {% endif %}
      {% if story_data.series|length > 0 %}
        <h4>Series</h4>
        <p>{{story_data.series}}</p>
      {% endif %}
      {% if story_data.events|length > 0 %}
        <h4>Events</h4>
        <p>{{story_data.events}}</p>
      {% endif %}
      <h2>Characters:</h2>
      {% for char in character_data %}
      	<div class="row">
          <div class="col-xs-6">
            <h4>{{char.name}}</h4>
            <p><img src="{{char.image_url}}" class="img-rounded img-responsive" /></p>
          </div>          
        </div>
      {% endfor %}
      <p>{{story_data.attributionHTML}}<p>
    </div>
  </body>
</html>